@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --color-cyan: hsl(178, 100%, 50%);
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-page-bg: hsl(217, 54%, 11%);
  --color-card-bg: hsl(216, 50%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-line: hsl(215, 32%, 27%);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;

  --hover-color-transition: color 0.75s;
  --hover-opacity-transitions: opacity 0.75s;

  font-size: 18px;
  font-weight: var(--font-weight-light);
  font-family: "Outfit", sans-serif;

  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
